
/* Vivid colour palette and fonts */

:root {
  --primary: #68bbe5;
  --onprimary: #000000;
  --secondary: #e2008a;
  --onsecondary: #000000;
  --tertiary: #fdf100;
  --ontertiary: #000000;
  --page: #ffffff;
  --onpage: #000000;
  --detail: #ffa71a;
  --detail2: #41063c;

  --body-font: 1rem Agbalumo, cursive;
  --header-font: lighter 3rem "Agbalumo", cursive;
  --title-font: lighter 2rem "Agbalumo", cursive;
  --quote-font: lighter 1.5rem 'Chewy', cursive;
} 